#!/bin/bash

{{ if eq .chezmoi.os "darwin" }}

# 一時的に startup を止める
exit 0

/bin/bash -c "$(curl -sL https://git.io/fisher | source && fisher install jorgebucaran/fisher)"
/bin/bash -c "$(curl -L https://github.com/oh-my-fish/oh-my-fish/raw/master/bin/install | fish)"

{{ end }}