#!/bin/bash

{{ if eq .chezmoi.os "darwin" }}

  echo 'Agreeing to Xcode license...'

  if ! [[ "$(/usr/bin/xcrun clang 2>&1 || true)" =~ 'license' ]]; then
    echo 'skip (already approved)'
    return
  fi

  sudo xcodebuild -license accept
  echo 'done'

{{ end }}